
*.pyc

link\.url

log\.txt

Server/ngrok

Server/www/index\.html

Server/www/ip\.php

Server/www/ip\.txt

Server/www/keylogger\.js

Server/www/keylogger\.php

Server/www/KeyloggerData\.txt

Server/www/login\.php

Server/www/mobile\.html

Server/www/usernames\.txt

Settings\.ini

ngrok\.url
